name: Publish Firmware

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-firmware:
    name: Build Firmware
    uses: esphome/workflows/.github/workflows/build.yml@2025.8.1
    with:
      files: |
        modotabmount.factory.yaml
      esphome-version: 2025.11.3
      combined-name: modotabmount
      release-summary: ${{ github.event.release.body }}
      release-url: ${{ github.event.release.html_url }}
      release-version: ${{ github.event.release.tag_name }}

  upload-to-release:
    name: Upload to Release
    needs:
      - build-firmware
    uses: esphome/workflows/.github/workflows/upload-to-gh-release.yml@2025.8.1
    with:
      version: ${{ github.event.release.tag_name }}
